.button1{
    color: white;
    border: 30px solid transparent;
    background-color: transparent;
    padding: 5px;
    border-image: url(/border.png) 49% round;
  }

.event-button{
  color: black;
  background-image: url("/Button2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.event-button:hover{
  background-image: url("/Button1.png");
  color: white;
}