.swiper {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}

.swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: 400px;
}

.swiper-slide img {
display: block;
width: 100%;
}
.hidescroolhomecard::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width:500px) {
    .hidesms{
        display: none;
    }
}
@media screen and (min-width:500px) {
    .showsms{
        display: none;
    }
}
@media screen and (min-width:768px  ) {
    .cardhomeimage{
        height:auto;
    }
}
@media screen and (min-width:853px  ) {
    .cardhomeimage{
        height:100%;
    }
}