@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hammersmith";
  src: url("../assets/fonts/HammersmithOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Retro Gaming";
  src: url("../assets/fonts/Retro\ Gaming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karmatic Arcade";
  src: url("../assets/fonts/ka1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ticketing";
  src: url("../assets/fonts/ticketing.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.button1{
  color: white;
  border: 30px solid transparent;
  background-color: transparent;
  padding: 5px;
  border-image: url(../public/border.png) 49% round;
}
.Workshop{
    background-image: url("../public/Workshop.png");
    /* position: absolute; */
    background-attachment: scroll;
    background-size: 100% 100% ;
    background-repeat: repeat-y;
    min-height: 95vh;
}
.Events{
    background-image: url("../public/Events.png");
    /* position: absolute; */
    background-attachment: scroll;
    background-size: 100% 100% ;
    background-repeat: repeat-y;
    min-height: 95vh;
}
.Council{

    background-image: url("../public/OurTeam.png");
    /* position: absolute; */
    background-attachment: scroll;
    background-size: 100% 100% ;
    background-repeat: repeat-y;
}

.Sponsors {
  background-color: #000000;
  background-image: url('../public/Sponsors.png');
  /* position: absolute; */
  background-attachment: scroll;
  /* bac */
  /* back */
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vh 100vh;
  /* position: absolute; */
  font-family: font-retrogaming, sans-serif;
  font-weight: 400;
}

@media screen and (min-width:725px) {
  .Sponsors {
    background-color: #000000;
    background-image: url('../public/Sponsors.png');
    /* position: absolute; */
    background-attachment: scroll;
    background-size: 100% 100%;
    background-repeat: repeat-y;
    font-family: font-retrogaming, sans-serif;
    font-weight: 400;
  }
}

.pagination button{
  background-color: aliceblue;
  color: #000000;
  border-radius: 9999px;
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
}
/* .Optionss{
  color: #000000;
} */
select Option{
  color: #000;
  font-family:Ticketing,sans-serif ;
}

body {
  background-color: #000000;
}