@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hammersmith";
  src: url("../assets/fonts/HammersmithOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Retro Gaming";
  src: url("../assets/fonts/Retro\ Gaming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karmatic Arcade";
  src: url("../assets/fonts/ka1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ticketing";
  src: url("../assets/fonts/ticketing.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

button{
  color: white;
  border: 30px solid transparent;
  background-color: transparent;
  padding: 5px;
  border-image: url(../public/border.png) 49% round;
}