:root {
  --outer-height: 100%;
  --outer-width: 100%;
}

.middle1{
  position: relative;
  bottom: 0px;
  right: 0px;
  background-color: blue;
  height: 1rem;
  width: 1rem;
  box-shadow: 5rem 5rem   red;
}

.inner1 {
  height: calc(var(--outer-height) + 1rem);
  width: calc(var(--outer-width) - 1rem); /* Adjusted here */
  border-top:  0.5rem solid white; /* Adjusted here */
  border-bottom:  0.5rem solid white; /* Adjusted here */
}

.outer {
  height: calc(var(--outer-height) - 1rem);
  width: calc(var(--outer-width) + 1rem); /* Adjusted here */
  border-left:  0.5rem solid white; /* Adjusted here */
  border-right:  0.5rem solid white; /* Adjusted here */
}

.content1 {
  height: var(--outer-height);
  width: var(--outer-width);
  /* background-color: #fff; */
}

.container1 {
  margin: 20px;
  position: relative;
  width: 6rem; /* Set the width of the outer container */
  height: 3rem;/* Set the height of the outer container */
}

.outer, .inner1, .content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
