@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body {
    background-color: #000000;
    background-image: url('./image 5.png');
    background-attachment: scroll;
    background-size: cover;
    font-family: font-retrogaming, sans-serif;
    font-weight: 400;
}


