.TeamStatus{
    max-height: 500px;
    overflow: auto; /* Use 'auto' instead of 'scroll' to hide the scrollbar when not needed */
    border-radius: 29px;
    background: #000;
    color: white;
    font-family: Ticketing;
}
.TeamStatus::-webkit-scrollbar {
    width: 0px;
}
.heading{
/* width: 554px;
height: 74px; */
text-align: center;
font-family: Ticketing;
/* font-size: 5vw; */

font-style: normal;
font-weight: 400;
line-height: normal;
}
.event img{
    width: 15px;
height: 25px;
/* width:10%; */
}
.title{
    width: 40%;
}
/* .names{
    width: 40%;
} */
/* .event{
    display: flex;
    margin:10px 30px;
} */

/* @media only screen and (max-width: 750px) {
    .event{
        flex-direction: column;
    }
} */