@tailwind base;
@tailwind components;
@tailwind utilities;


.form-box{
    background-image: url('/bg3.png');
    background-size: cover;
    filter: blue(8px);
}
.form-round{
    border-radius: 65px;
    overflow: hidden;
}
.box-2{
    top: 63px;
}
.box-1{
    top: 99px;
    width: 72%;
}
.register-box{
    bottom: 36px;
}