.form-box{
    background-image: url('/bg3.png');
    background-color: rgb(4, 4, 48);
    background-size: cover;
    filter: blue(8px);
    top:-50px;
    position:relative;
}
.form-round{
    border-radius: 65px;
    overflow: hidden;
}

.box-2{
    top: 63px;
}

